@import "colors";
@import "fonts";

.order-main {
  display: flex;
  flex-direction: column;

  .order-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-button {
      position: relative;
      //top: 40px;
      //left: 40px;
      transition: all 0.25s linear;
      border-bottom: none;
      cursor: pointer;
      font-size: 12px;
    }

    .back-button:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $golden;
      position: absolute;
      left: 0;
      bottom: -3px; /* this is to match where the border is */
      transform-origin: left;
      transform: scale(0);
      transition: 0.25s linear;
      /*   will-change: transform; */
    }

    .back-button:hover:before {
      transform: scale(1);
    }

    .separator {
      font-size: 8px;
      margin: 0 7px;
    }

    .actually {
      margin-top: 5px;
      font-size: 12px;
      border-bottom: 2px solid $golden;
    }
  }

  .order-left-title {
    font-size: 36px;
    font-family: $secondFont;
    font-weight: 300;
    letter-spacing: -1px;
    color: $golden;
  }

  .order-text {
    font-size: 20px;
    font-weight: 300;
  }

  .order-form {
    display: flex;
    flex-direction: column;
  //  margin-top: 100px;

  .order-options {
    display: flex;
    margin-top: 100px;
    padding: 0 50px;
    gap: 50px;

    .order-left {
      width: 100%;
      display: flex;
      flex-direction: column;

      .selectbox-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(221, 208, 194, 0.07);
        margin: 13px 0;
        height: 30px;

        label {
        }

        select {
          background-color: $dark;
          margin-right: 20px;
          appearance: revert;
          cursor: pointer;
        }

        select:hover {
          color: $golden;
        }
      }
    }

    .order-right {
      width: 100%;
      background-color: $graybeige;
    }

  }
}
  .order-down {
    display: flex;
    flex-direction: column;
    align-self: end;
    width: 250px;
    padding: 50px;
    padding-bottom: 0;
    gap: 20px;


    .order-price {
      display: flex;
      justify-content: space-between;

      .price {
        color: $light;

      }
    }

    .order-basket-btn {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      border: 1px solid rgba(221, 208, 194, 0.07);
      cursor: pointer;
    }
    span {
      color: #ff3737;

    }
  }
}


//  .order-right {
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//
//    .inputbox-content {
//      position: relative;
//      margin: 13px 0;
//      width: 100%;
//
//      input {
//        width: 100%;
//        height: 30px;
//        box-sizing: border-box;
//        line-height: 30px;
//        font-size: 14px;
//        border: 0;
//        background: none;
//        border-bottom: 1px solid rgba(221, 208, 194, 0.07);
//        outline: none;
//        border-radius: 0;
//        -webkit-appearance: none;
//        padding-left: 10px;
//
//        &:focus, &:valid {
//          & ~ label {
//            color: $golden;
//            transform: translateY(-20px);
//            font-size: 0.825em;
//            cursor: default;
//          }
//        }
//
//        &:focus {
//          & ~ .underline {
//            width: 100%;
//          }
//        }
//      }
//
//      label {
//        position: absolute;
//        top: 0;
//        left: 0;
//        height: 30px;
//        line-height: 30px;
//        color: $light;
//        cursor: text;
//        transition: all 200ms ease-out;
//        z-index: 10;
//        padding-left: 5px;
//      }
//
//      .underline {
//        content: '';
//        display: block;
//        position: absolute;
//        bottom: -1px;
//        left: 0;
//        width: 0;
//        height: 2px;
//        background: $golden;
//        transition: all 200ms ease-out;
//      }
//    }
//  }
//}

//.order-form-btn {
//  border: 1px dashed $golden;
//  padding: 20px 30px;
//  margin-top: 20px;
//  align-self: center;
//  cursor: pointer;
//}
//}
//}

.order-form-title {
  font-family: $secondFont;
  //border: 1px dashed $golden;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 50px;
  position: relative;
}

.order-form-title::after {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 10px;
  margin-left: 2px;
  background-color: $golden;
}

