@import "colors";
@import "fonts";

.App-header {
  height: 100px;
  //box-shadow: 0 2px 10px $golden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33px;
  background-color: $dark;
  position: sticky;
  top: 0;
  z-index: 99;

  .logo {
    font-family: $secondFont;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -7px;
    position: relative;

    strong {
      text-transform: uppercase;
      color: $golden;
      font-weight: 700;
      letter-spacing: -8px;
    }
  }

  .logo::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 14px;
    right: -12px;
    background-color: $golden;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .logo:hover::after {
    opacity: 1;
  }
}