@import "colors";

.menu {
  height: 100%;

  .menu-list {
    display: flex;
    gap: 33px;
    height: 100%;
    align-items: center;
    text-transform: uppercase;

    .underline {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        color: $graybeige;
      }

      a:hover {
        color: $light;
      }
    }

    .underline::before {
      content: '';
      position: absolute;
      bottom: 1px;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $golden;
      transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
      .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

  .menu-icons {
    font-size: 24px;
    color: $golden;
    cursor: pointer;
    transition: all 0.3s linear;

  }
  .menu-icons:hover {
    color: $graybeige;
    transition: all 0.3s linear;
  }
}
