@import "colors";
@import "fonts";

.App-order {
  padding: 100px 0;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("../assets/images/table6.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;

  .order-text {
    font-family: $secondFont;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -4px;
    z-index: 2;
    width: 550px;
    text-align: center;
    cursor: pointer;
    border: 10px solid $golden;
    padding: 20px 30px;

    p {

    }
  }

  .order-text:hover {
    p {
      color: $golden;
    }
  }
}

.App-order::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
}